
// Body
$body-bg: #eee;

// Typography
$font-family-sans-serif: "Poppins", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490DC;
$indigo: #6574CD;
$purple: #9561E2;
$pink: #EB5286;
$red: #E3342F;
$orange: #F6993F;
$yellow: #F2D024;
$green: #38C172;
$teal: #4DC0B5;
$cyan: #3490DC;

$default:       $blue !default;
$primary:       $pink !default;
$secondary:     $cyan !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         #DAE1E7;
$lighter: 		#F1F5F8;
$dark:          #2F365F;
$darker:        #191E38;

$theme-colors: () !default;
$theme-colors: map-merge((
        "default":      $default,
        "primary":      $primary,
        "secondary":    $secondary,
        "success":      $success,
        "info":         $info,
        "warning":      $warning,
        "danger":       $danger,
        "dark":         $dark,
        "darker":       $darker,
        "light":		$light,
        "lighter":	    $lighter,

), $theme-colors);
