
// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-main-top {
  background-color: #fff;
  border-top: solid 2px $pink;
  box-shadow: 0 2px 3px rgba(55, 63, 67, 0.16);
}
